body {
  margin: 0;
  padding: 0;
}

.CalculatorContainer {
  width: 400px;
  margin: auto;
  background-color: #858693;
}

.row {
  width: 100%;
  height: 50px;
  display: flex;
}

#results {
  color: white;
  align-items: center;
  justify-content: flex-end;
}

.row button {
  flex: 1;
  border-radius: 0;
  border: none;
  margin: 0.5px;
}

.orange {
  background-color: #f4913e;
}

#last-row .two-cells {
  flex-basis: 50.4%;
}

#last-row .last-row {
  flex-basis: 25%;
}
